body {
  background: #e9ebee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.FeedHeader {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  text-align: center;
  padding: 20px;

  h1 {
    color: white;
    font-size: 20px;
  }
}

.FeedBody {
  width: 100%;
  text-align: center;
  background: blue;
}

.Post {
  width: 700px;
  background: white;
  padding: 30px;
  margin: 30px auto;
  height: auto;
  border: 1px solid #cccccc;
}

.HeadContainer {
  width: 100%;
}

.img-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

.img {
  border-radius: 50%;
}

.info-container {
  width: 200px;
  height: 60px;
  float: left;
  padding: 10px 20px;
}

.author {
  font-size: 16px;
  color: #666;
  display: block;
}

.time-posted {
  font-size: 14px;
  color: #999;
}

.Content-Container {
  width: 100%;
  clear: both;
  border-top: 1px solid #eee;

  p {
    font-size: 16px;
    color: #333;
    line-height: 28px;
  }
}
